@import 'reset';
@import 'vars';

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Aquatico';
  src: url('../assets/fonts/Aquatico.otf');
}

@font-face {
  font-family: 'Evolve';
  src: url('../assets/fonts/Evolve.otf');
}

@font-face {
  font-family: 'BillyOhio';
  src: url('../assets/fonts/BillyOhio.ttf');
}

body {
  font-family: 'Evolve', serif;
}
